@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root.dark {
  --full-background: #282a36;
  --calender-bg: #44475a; 
  --days: #FF79C6;
  --btn: #BD93F9;
  --text: #eee;
}

:root.light {
  --full-background: #F8F8F2;
  --calender-bg: #ccc;
  --days: #FF79C6;
  --btn: #BD93F9;
  --text: #252525; 
}

html {
  font-family: 'Google Sans Code';
  font-size: 16px;
  line-height: 1.5;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--full-background);
}

/* for all container */
.container {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}
/* for all container */

/* header section */
header {
  padding: 1.5rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .logo {
  font-weight: bold;
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  text-transform: uppercase;
  color: var(--text);
}


.container #theme-switching-btn {
  color: var(--btn);
}

.container .logo,
.container #theme-switching-btn {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
}
/* header section */


/* main section */
main {
  padding: 1.5rem;
}

.container .top-content {
  max-width: 650px;
  margin: 1rem auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-content .left-side-content .month-title {
  color: var(--btn);
  font-weight: bold;
  text-transform: capitalize;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.container .top-content .right-side-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-side-content label {
  color: var(--btn);
  font-size: clamp(.9rem, 3vw, 1.2rem);
  font-style: italic;
  opacity: 0.8;
}

.right-side-content select {
  background-color: var(--calender-bg);
  border: none;
  padding: .5rem 1rem;
  color: var(--text);
  border-radius: .5rem;
}


#calender {
  background-color: var(--calender-bg);
  width: 100%;
  margin: 1rem auto;
  max-width: 650px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

#calender li {
  list-style: none;
  text-align: center;
  background-color: var(--days);
  padding: 1rem 1.5rem;
  border-radius: inherit;
  color: var(--text)
}
/* main section */